.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Main-div {
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

.column {
  margin-top: 10px;
}

.img-lottie {
  height: 600px;
  width: 600px;
}

.Home {
  height: 39rem;
  background-color: #cabfbf;
}

.pre-div {
  width: 85%;
  margin-left: 100px;
  margin-top: 29px;
}



.sm-div {
  border: 2px solid #007bff;
  border-radius: 10px;
  width: 280px;
  height: 411px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  top: 152px;
}

.Small-div {
  border: 2px solid #007bff;
  margin-left: 15px;
  border-radius: 10px;
  height: 41rem;
  width: 1443px;
}

.Project {
  width: 384px;
  justify-content: space-between;
  position: relative;

}

.Sociel-icon1 {
  font-size: 35px !important;
  color: #0a66c2;
  filter: drop-shadow(1px 1px 1px);
}

.Sociel-icon2 {
  font-size: 35px !important;
  color: #000000;
  filter: drop-shadow(1px 1px 1px);
}

.icon-div {
  position: relative;
  left: 462px;
  /* top: 30px; */
  padding: 10px;

  border-radius: 10px;
  background: white;
  width: 109px;
  justify-content: space-between;
}

.Sociel-icon3 {
  font-size: 35px !important;
  color: #007bff;
  filter: drop-shadow(1px 1px 1px);
}

.Sociel-icon4 {
  font-size: 35px !important;
  color: #992c6a;
  filter: drop-shadow(1px 1px 1px);
}

.Sociel-icon5 {
  font-size: 35px !important;
  color: #3b5998;
  filter: drop-shadow(1px 1px 1px);
}

.Year {
  margin-bottom: 0px;
  color: rgb(0, 123, 255);
}

.line {
  height: 46rem;
  width: 4px;
  position: relative;
  background-color: #007bff;
  border-radius: 6px;
  left: 35px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color:#007bff ;
  border-radius: 5px;
  height: 20px;
  outline: 2px solid lightgray;
}

.line1 {
  height: 12rem;
  width: 4px;
  position: relative;
  background-color: #007bff;
  border-radius: 6px;
  left: 22px;
}

.Year1 {
  text-align: start;
  margin-left: 44px;
  color: black;
  position: relative;
  text-shadow: rgb(0 0 0) 1px 1px 3px;
  top: 9px;
}

.exp {
  position: relative;
  left: 10px;
  color: rgb(0, 123, 255);
}

.icon {
  position: relative;
  font-size: 35px !important;
  top: 8px;
  left: 7px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  font-size: 21px;
  margin-left: 10px;
  margin-top: 10px;
}

.title {
  position: relative;
  right: 205px;
}

.Resume {
  background-color: black;
  filter: drop-shadow(4px 4px 4px);
  height: 57px;
  border-radius: 10px;
  width: 185px;
  margin-top: 70px;
  margin-left: 68px;
}

.Resume1 {
  background-color: black;
  /* filter: drop-shadow(4px 4px 4px); */
  height: 57px;
  border-radius: 10px;
  width: 185px;
  /* margin-top: 70px; */
  /* margin-left: 68px; */
}

.Skills {
  background-color: white;
  height: 155px;
  border-radius: 10px;
  width: 242px;
  margin-top: 25px;
  margin-left: 10px;
  border: 2px solid #007bff;
}

.Eductaion {
  background-color: white;
  height: 311px;
  font-size: 12px;
  border-radius: 10px;
  width: 242px;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid #007bff;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 9px;
  right: 0;
  height: 79%;
  width: 95%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  border-radius: 10px;
}

.lotti {
  margin-top: 40px;
  margin-left: 20px;
}

.hover-div:hover .overlay {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text {
  color: #007bff;
  font-size: 20px;
  position: absolute;
  opacity: 1;
  border-radius: 10px;
  padding: 5px;
  top: 45%;
  left: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.Portfolio {
  height: auto;
  /* margin-bottom: 10px; */
  background-color: #ECF0F3;
}

.live-preview {
  height: 320px;
  width: 432px;
}

.yellow {
  color: yellow !important;
}

.search {
  font-weight: 500;
  animation: openclose 5s ease-in-out;
  overflow: hidden;
}

.line-1 {
  position: relative;
  margin: 0 auto;
  white-space: nowrap;
  border-right: 2px solid rgb(59 130 246);
  overflow: hidden;
  transform: translateY(-50%);
  animation: typewriter 5s ease-in-out infinite;
}

.footer-div {
  text-align: start;
  margin-left: 35px;
  margin-top: 20px;
  padding: 21px;
}

.footer {
  background-color: #ECF0F3;
  margin-top: 82px;
  height: 80px;
}

.input {
  width: 83% !important;
  margin-top: 10px !important;
}

.input1 {
  height: 78px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
  width: 83% !important;
  background-color: #c5e0d3;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.Blog {
  height: 45rem;
  background-color: #ECF0F3;
}





.left-div img {
  border-radius: 50%;
  border: 2px solid #007bff;
  position: relative;
  bottom: 169px;
  margin-top: 15px;
  margin-left: 5px;
}

.flex {
  display: flex;
}

.br {
  border-radius: 10px;
}

.Contact {
  height: 42rem;
  background-color: #ECF0F3;
}

.Home {
  background-color: #ECF0F3;
  animation: example;
  animation-duration: 15s;
}

@keyframes example {
  from {
    background-color: #dbe5ee;
  }

  to {
    background-color: #cfe1f1;
  }
}

.express-div {
  width: 100%;
  justify-content: space-between;
  margin-top: 66px;
}

.profile-img {
  height: 480px;
  width: 450px;
  margin-top: 101px;
  border-radius: 10px;
  margin-left: 73px;
  filter: drop-shadow(1px 1px 1px);
  opacity: 0.9;
}

.About {
  display: flex;
  height: 59rem;
}

.About .right-div {
  width: 60%;
  top: 100px;
  right: -30px;
}

h1 h2 h3 h4 h5 h6 {
  text-shadow: 2px 2px 4px #000000;
}

.left-div h1 {
  text-shadow: 2px 2px 4px #000000;
  color: aliceblue;
  margin-top: 15rem;
}

.bg-skyblue {
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: black;
  filter: drop-shadow(-3px 9px 7px);
}

.left-div {
  margin-top: 23px;
  margin-left: 28px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(16px) saturate(100%);
  backdrop-filter: blur(16px) saturate(100%);
  height: 37rem;
  width: 20rem !important;
  background-color: #282c34;
  border: 2px solid #007bff;
  position: relative;
}



.material-symbols-outlined {
  font-size: 50px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.content {
  position: relative;
  bottom: 160px;
}

@keyframes example {
  100% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 200px;
  }
}

.right-div {
  height: 37rem;
  border-radius: 10px;
  position: relative;
  top: 136px;
  /* right:130px;
   */
  right: 247px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Name_title {
  border-radius: 10px;
  height: 40px;
  width: 220px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Exp-div {
  margin-top: 76px;
}

.my-resume {
  color: rgb(0, 123, 255);
  text-shadow: rgb(0 0 0) 2px 2px 4px;
  position: relative;
  top: 60px;
}

.contact-div {
  display: flex;
  width: 15%;
  font-size: 22px;
  color: rgb(0, 123, 255);
  text-shadow: rgb(0 0 0) 1px 1px 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}